.btn {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  
  cursor: pointer;
  color: $color-primary;
  background-color: transparent;

  border-radius: 6px;
  transition: all $transition-time ease;

  .icon {
    margin-right: 0.5rem;
  }

  .text {
    text-transform: capitalize;
  }

  &-text {
    padding: 0;
    color: $color-gray-8;

    &:hover {
      text-decoration: underline;
    }
  }

  &-default {
    color: $color-gray-5;
    background-color: white;

    &:hover {
      background-color: $color-gray-1;
    }
  }

  &-primary {
    color: white;
    background-color: $color-primary;
    box-shadow: 0 4px 14px rgba($color-primary, 0.4);

    &:hover {
      background-color: tint($color-primary, 8%);
      box-shadow: 0 6px 20px rgba($color-primary, 0.2);
    }
  }

  &-darken {
    color: white;
    background-color: black;
    border: solid 1px black;

    &:hover {
      color: black;
      background-color: white;
    }
  }
}
