.btn {
  display: block;
  width: 100%;
  border-radius: 2px;
  text-transform: capitalize;

  .icon {
    vertical-align: middle;
    margin-right: 10px;
    padding: 2px;
    width: 1em;
    height: 1em;
  }

  // .text {}

  &-default {
    color: $text-color;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  &-primary {
    color: $dark-color;
    background-color: $primary-color;

    &:hover {
      background-color: tint($primary-color, 12%);
    }
  }
}