@import "../../../assets/style/core/variable";

.ui--login {
  min-height: 100vh;

  &-header {
    position: relative;
    height: 99px;
    padding: 30px 0 0;
  }

  &-body {
    position: relative;
    margin: 20px auto 88px;
    padding: 60px;
    width: 100%;
    max-width: 440px;
    border-radius: 2px;
    background-color: rgba($base-color, 0.8);

    // Nested At-Rules and Bubbling.
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      backdrop-filter: blur(10px);
      background-color: rgba($base-color, 0.8);
    }
  }

  &-form {
    display: grid;
    grid-gap: 20px 0;
    margin: 0 0 50px;

    .title {
      font-size: $font-size-larger * 1.5;
      font-weight: $font-weight-bold;
      text-transform: capitalize;
      margin: 0 0 15px;
    }

    .help {
      display: grid;
      grid-gap: 0 10px;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      line-height: 20px;
    }

    .remember {
      display: grid;
      grid-gap: 0 5px;
      grid-template-columns: 20px 1fr;
      user-select: none;
      cursor: pointer;

      &:hover {
        .text {
          text-decoration: underline;
        }
      }

      &.active {
        .icon {
          color: $primary-color;
        }
      }

      .icon {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        color: $gray-color-600;
        background-color: $dark-color;
      }

      .text {
        font-size: $font-size-small;
      }
    }
  }

  &-other {
    display: grid;
    grid-gap: 15px 0;

    // .rows {}

    .register {
      color: $gray-color;

      .link {
        color: $text-color;
        font-weight: $font-weight-bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .captcha {
      color: $gray-color;
    }
  }

  .btn {
    &-login {
      margin: 20px 0 0;
      height: 45px;
      font-size: $font-size-large - 2;
      font-weight: $font-weight-bolder;
    }

    &-help {
      font-size: $font-size-small;
    }

    &-google {
      width: auto;
      line-height: 20px;

      .icon {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: $text-color;
      }

      .text {
        color: $gray-color;
        font-size: $font-size-small;
      }
    }
  }
}
